.App {
  background: linear-gradient(white, #CAD4F0);
  width: 100vw;
  height: 100vh;
}

.barchart {
  text-align: center;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border-color: white;
  border-width: thick;
}
